<ion-content>

  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <h3>Alberto</h3>
        <h4>¡Haz completado el ejercicio!</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="/assets/imgs/finish-exercise.svg" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>        
        <p>Veamos un resumen de lo <br>
          que la tristeza vino a enseñarte: </p>
          <ion-button>Ver resumen</ion-button>
      </ion-col>
    </ion-row>        
  </ion-grid>

</ion-content>
