.wrapper{
    max-width: 400px;
    margin: 0 auto;       
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.logo{    
    width: 80%;
    margin: 40px auto 40px auto;
    text-align: center;
}

.recovery-info{
    text-align: center;
    color: var(--ion-color-primary);
    margin-bottom: 10px;
}

.recovery-form{    
    padding: 0 40px;
    text-align: center;

    .login-btn{
        border-radius: 4px;
        margin: 0 auto 20px auto;
        height: 50px;
        max-width: 250px;
    }
    .btn-passrecovery{
        text-decoration: underline;
    }
    ion-input{
        text-align: left;
    }
}