<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      <div class="logo">
        <img src="assets/mimento-logo-horizontal.svg" alt="Logo App mimento">
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col size="12">
        <div class="terms">
          <p><strong>MIMENTO - Términos y Condiciones de Suscripción y Uso</strong></p>

          <p>SIMCHA, SOCIEDAD ANÓNIMA (“LA OPERADORA”) es propietaria y administradora del sitio web <a
              href="https://www.mimentoapp.com" target="_blank">www.mimentoapp.com</a> y la aplicación MIMENTO (en
            adelante “la plataforma” o “el
            Sitio”), por medio de la cual facilita el acceso a servicios de acompañamiento terapéutico y emocional a
            distancia (“los Servicios”), que son prestados por psicólogos y psiquiatras (“los Profesionales”), a los
            usuarios que se suscriban de manera voluntaria a la plataforma (“el Usuario” o “Usuarios”), conforme a los
            términos y condiciones aquí contenidos (en adelante “Términos de Uso”).</p>

          <p><strong>1. Suscripción a la plataforma:</strong></p>

          <p>El Usuario proporcionará información personal que le sea requerida al suscribirse, con el fin de realizar
            su suscripción y que la plataforma pueda sugerir al terapeuta adecuado, basado en los intereses y las
            preferencias del Usuario.</p>

          <p>El Usuario es responsable de la veracidad de la información que proporcione. MIMENTO no se responsabiliza
            ante el Usuario o terceros, por información falsa o incorrecta que el Usuario suministre.</p>

          <p>El Usuario será identificado en las sesiones con el nombre que elija al suscribirse a la plataforma.</p>

          <p><strong>2. Los Profesionales</strong></p>

          <p>
            Los Profesionales son profesionales independientes, que deciden afiliarse a MIMENTO para prestar los
            Servicios, por lo que son los únicos responsables de la calidad y contenido de los Servicios.
          </p>

          <p>Los Profesionales serán identificados con el nombre que elijan al afiliarse a la plataforma y su perfil
            estará disponible para revisión de los Usuarios. El Usuario podrá requerir más información del Profesional
            por
            medio de la plataforma. </p>

          <p>LA OPERADORA no estará obligada ni garantiza la permanencia y continuidad de los Profesionales en la
            plataforma. El Usuario podrá requerir un cambio de Profesional. Todo cambio de Profesional será previamente
            autorizado por el Usuario.</p>

          <p><strong>3. Servicios de Salud Mental:</strong></p>

          <p>Los Servicios serán prestados por los Profesionales, por medio de mensajes de texto en la plataforma, en
            sesiones de 10 a 15 minutos, en el horario elegido por el Usuario, durante el plazo y según el plan al que
            el
            Usuario se suscriba.</p>


          <p>
            El Usuario reconoce y acepta que los Servicios constituyen, principalmente, un sistema de autoayuda
            personalizado diseñado para mejorar la salud mental y bienestar. El Usuario es el único responsable en
            decidir cuál de las técnicas sugeridas y recomendaciones de los Profesionales pone en práctica.
          </p>

          <p>
            Los Profesionales podrán abstenerse de brindar los Servicios o recomendar que el Usuario reciba atención con
            un profesional de su elección, ajeno a la plataforma.
          </p>

          <p>
            Los Profesionales no podrán brindar terapia a los Usuarios de forma presencial ni concertarán citas con los
            Usuarios para ningún propósito.
          </p>

          <p>
            Si cree que puede tener una emergencia médica, llame a su médico de inmediato. Los Profesionales se reservan
            el derecho de llamar a los contactos de emergencia que usted indique al ingresar a la plataforma, si
            consideran que usted tiene una emergencia médica o que su vida o integridad o la de terceros corren peligro.
          </p>

          <p>
            El Usuario entiende y acepta expresamente que los Servicios que se brindan a través de la plataforma no
            constituyen terapia de la salud mental ni sustituyen a la terapia tradicional, ya que solamente son un apoyo
            y herramienta de ayuda para el Usuario. Si su médico u otro profesional a cargo de su salud mental, le
            recomienda dejar de usar la plataforma, es necesario hacer lo que éste indica.
          </p>

          <p><strong>4. La Operadora y Contenido del Sitio</strong></p>

          <p>
            LA OPERADORA no es un proveedor de atención médica y no le brinda ningún consejo médico. MIMENTO es
            únicamente
            una plataforma de comunicación.
          </p>

          <p>
            LA OPERADORA no ofrece ni otorga ninguna representación o garantía sobre el contenido o la idoneidad de los
            Servicios ni de la información general y otros materiales publicados o a los que tenga acceso el Usuario a
            través de la plataforma.
          </p>

          <p>Ningún contenido del Sitio o mensaje enviado desde el Sitio debe ser considerado como un consejo médico o
            un
            respaldo o garantía de que cualquier tratamiento o medicamento es seguro, apropiado o efectivo para usted.
          </p>

          <p><strong>5. Cuenta de Usuario:</strong></p>
          <p>
            Para crear una cuenta usted debe ser mayor de 18 años. Si usted no es mayor de edad no puede suscribirse a
            la
            plataforma. Durante el registro o el uso de la plataforma, es posible que deba proporcionar a la plataforma
            cierta información, incluido su nombre, dirección de correo electrónico, nombre de usuario y contraseña
            ("Credenciales"). Usted es responsable de mantener y proteger, actualizar y notificar de cualquier uso no
            autorizado de sus Credenciales.
          </p>

          <p>
            <strong>6. Uso de la plataforma por mayores de 16 años:</strong>
          </p>

          <p>
            Los Servicios podrán ser recibidos por menores de edad que sean mayores de 16 años, con la autorización y
            bajo
            la supervisión de sus padres o tutor legal, para lo cual el Usuario será creado por los padres o tutor legal
            del menor, lo que deberá acreditarse a través de la debida identificación e información que se requiere por
            la
            plataforma para ese caso.
          </p>

          <p>
            LA OPERADORA se reserva el derecho de no dar acceso a la plataforma a menores de edad si no logra verificar
            la
            autorización de los padres o tutor legal. El padre o tutor legal que se registre será el responsable de
            cumplir con los Términos de Uso, en nombre propio y en nombre del menor que represente.
          </p>

          <p>
            Ni LA OPERADORA ni los Profesionales son responsables por el acceso que un menor de edad obtenga a la
            plataforma y por los Servicios que reciba, sin contar con el consentimiento de sus padres o tutor legal; o,
            si
            ha ingresado información falsa para obtener acceso.
          </p>

          <p>
            Los padres o tutor legal del menor de edad recibirán al correo electrónico indicado, un reporte de avances
            elaborado por los Profesionales que presten los Servicios al menor de edad.
          </p>

          <p><strong>7. Contenido del Usuario:</strong></p>


          <p>
            El expediente del Usuario se conforma por la información personal que ingrese a la plataforma y las notas
            que
            los Profesionales realicen luego de cada sesión, al que únicamente tendrá acceso el Profesional que preste
            Servicios al Usuario.
          </p>

          <p>
            Usted reconoce que también puede crear, transmitir, publicar o mostrar información (como archivos de datos,
            texto escrito, software de computadora, música, archivos de audio u otros sonidos, fotografías, videos u
            otras
            imágenes) mediante el uso de la plataforma. Toda esta información se denomina a continuación "Contenido del
            Usuario".
          </p>

          <p>
            Si se está registrando para estos Servicios en nombre de una organización o entidad, acepta que también es
            responsable de las acciones de los Usuarios asociados y de cualquier Contenido del Usuario que dichos
            Usuarios
            asociados. Los padres o tutor legal son responsables del Contenido del Usuario de menores de edad.
          </p>

          <p>En caso de terminación o cancelación de la suscripción por cualquier motivo, el Contenido del Usuario será
            eliminado dentro de los quince (15) días siguientes a la fecha de terminación o cancelación. El Contenido
            del
            Usuario es irrecuperable y LA OPERADORA no tiene obligación de almacenarlo con posterioridad a la
            terminación
            o cancelación de la suscripción.</p>


          <p>
            <strong>8. Tarifas y términos de compra: </strong>
          </p>

          <p>
            El Usuario podrá elegir entre los distintos planes de suscripción y Servicios que se ofrezcan de tiempo en
            tiempo en la plataforma y podrán ser modificados cuando el Usuario lo desee. El Usuario acepta pagar el
            costo
            de la suscripción de acuerdo al plan seleccionado y la información para facturación proporcionada en la
            plataforma, sin requerirse aviso o consentimiento adicional del Usuario. El Usuario es responsable de la
            veracidad de la información de tarjetas de débito, crédito u otro método de pago elegido.

          </p>

          <p>
            <strong>9. Cancelación de la suscripción: </strong>
          </p>

          <p>
            El Usuario puede terminar su suscripción a la plataforma y darse de baja como usuario en cualquier momento,
            a
            través de la cancelación de su cuenta.
            <br>
            LA OPERADORA puede cancelar su cuenta y bloquear su acceso a la plataforma, si usted viola o incumple los
            Términos de Uso. En este caso, LA OPERADORA realizará el reembolso proporcional del costo del plan que el
            Usuario no utilice a causa de la cancelación de la suscripción.
          </p>



          <p>
            <strong>10. Derechos de propiedad y marcas:</strong>
          </p>

          <p>
            El Sitio y todo su contenido (incluido pero no limitado) visual, operativo, gráfico, informático, texto
            pantalla, imágenes, video y audio, así como su diseño, son propiedad de LA OPERADORA, sus licenciantes u
            otros
            proveedores de dicho material, están protegidos por derechos de autor, marcas registradas, patentes,
            secretos
            comerciales y otros derechos de propiedad intelectual. El Usuario se compromete a no realizar ningún acto
            que
            atente contra la propiedad intelectual y derechos de autor que aparezcan y se contengan en la plataforma.
          </p>

          <p>
            <strong>11. Políticas de Privacidad y otras: </strong>
          </p>

          <p>
            Usted acepta usar la plataforma con base en los términos aquí establecidos, la Política de Privacidad de la
            plataforma y cualquier otra política y términos que se emitan en el futuro respecto a la plataforma.
          </p>

          <p>
            <strong>12. Derechos de acceso y enlaces: </strong>
          </p>

          <p>
            Se otorga un derecho limitado, no exclusivo e intransferible para acceder al Sitio y para utilizar los
            Servicios de manera personal y no comercial y solo conforme a los Términos de Uso.
            <br>
            El Usuario acepta que no puede (y no puede permitir que nadie más lo haga): (a) copiar, modificar, crear un
            trabajo derivado de, realizar ingeniería inversa, descompilar o intentar extraer el código fuente de la
            plataforma, cualquier información relativa a los Servicios o cualquier parte de los mismos, a menos que esto
            sea expresamente permitido o requerido por la ley, o, a menos que la plataforma le haya dicho
            específicamente
            que puede hacerlo por escrito; (b) intentar desactivar o eludir cualquier mecanismo de seguridad utilizado
            por la plataforma o para el acceso a los Servicios o cualquier aplicación que se ejecute con relación a los
            Servicios; (c) distribuir virus o códigos informáticos dañinos para el Sitio; o, (d) utilizar el Sitio o los
            Servicios de cualquier manera que exceda el uso otorgado anteriormente.
            <br>
            Asimismo, el Usuario se compromete a no participar en ninguna actividad que interfiera o interrumpa con la
            operación de la plataforma y/o la prestación de los Servicios (o los servidores y redes que están conectados
            a la plataforma).
            <br>
            El Usuario acepta que no cargará, grabará, publicará, vinculará, transmitirá o distribuirá el Contenido de
            los Servicios, ni utilizará la plataforma o los Servicios de una forma no autorizada por estos Términos de
            Uso, con fines ilegales o distintos a la recepción de los Servicios.
          </p>

          <p>
            <strong>13. Modificaciones a la plataforma: </strong>
          </p>

          <p>
            LA OPERADORA se reserva el derecho de realizar modificaciones a la plataforma constantemente y sin previo
            aviso o autorización del Usuario. Sin embargo, una vez hechas las modificaciones se le notificará acerca de
            las mismas.
          </p>

          <p>
            <strong>14. Cambio en los términos:</strong>
          </p>

          <p>
            Los términos contenidos en este documento pueden modificarse o actualizarse eventualmente sin una
            notificación
            previa. Para determinar cuándo fue la última actualización de los términos se recomienda consultar la fecha
            de “Última actualización” en la parte superior de estos términos. Es responsabilidad del Usuario revisar
            estos
            Términos, con la finalidad de determinar si está de acuerdo con cada uno de ellos. Si no está de acuerdo con
            cualquier actualización a los Términos, se recomienda dejar de usar los Servicios. Visite esta página
            regularmente para revisar estos Términos para cualquier cambio.
          </p>

          <p>
            <strong>15. Limitación de responsabilidad: </strong>
          </p>

          <p>
            LA OPERADORA no tiene ni asume ningún tipo de responsabilidad sobre el contenido o calidad de los Servicios
            prestados por los Profesionales, cualquier posible conflicto relativo a los Servicios se debe dilucidar
            directamente entre el Usuario y el Profesional que está prestando los Servicios.
            En cualquier caso, la responsabilidad de LA OPERADORA con relación a cualquier reclamo o acciones del
            Usuario con relación a la plataforma y/o los Servicios, se limitará al reembolso de la totalidad de montos
            pagados por el Usuario por el uso de la plataforma más un diez por ciento (10%), siempre que se determine
            por la vía aplicable conforme a estos términos, que LA OPERADORA tiene responsabilidad y ha causado daños o
            perjuicios al Usuario.
          </p>

          <p><strong>16. Retroalimentación:</strong></p>

          <p>El Usuario puede elegir enviar comentario y sugerencias sobre los Servicios, incluyendo, pero no limitados
            a:
            cómo mejorar la plataforma o los Servicios. Al enviar cualquier comentario o sugerencia, el usuario acepta
            que
            la divulgación es gratuita, no solicitada y sin restricciones; por lo que, LA OPERADORA no estará bajo
            ninguna
            obligación fiduciaria u otra obligación de implementar o tomar alguna acción respecto a los comentarios y
            sugerencias el Usuario, y será libre de usar esos comentarios sin ninguna compensación económica o de
            ninguna
            clase para el Usuario que la dio.</p>

          <p><strong>17. Ley aplicable y arbitraje:</strong></p>

          <p>Los Términos de Uso y la utilización de la plataforma se regirán por las leyes de Guatemala.</p>

          <p>El Usuario y LA OPERADORA convienen en que toda disputa, controversia o reclamo, que se relacione con la
            aplicación, interpretación y/o cumplimiento de estos Términos, la plataforma y los Servicios, por cualquier
            causa, deberá resolverse, en primer lugar, mediante Conciliación de conformidad con el Reglamento de
            Conciliación y Otros Métodos Alternativos de la Comisión de Resolución de Conflictos de la Cámara de
            Industria
            de Guatemala -CRECIG- dentro del plazo de treinta (30) días, contados a partir de la solicitud que presente
            una o ambas Partes a CRECIG.</p>

          <p>Vencido el plazo indicado para la Conciliación sin que se hubiese arribado a un acuerdo que solvente la
            disputa, o bien, si surgido el conflicto alguna de las Partes no desea solicitar la Conciliación, se
            resolverá
            entonces mediante Arbitraje de Derecho, de conformidad con el Reglamento de Arbitraje de la Comisión de
            Resolución de Conflictos de la Cámara de Industria de Guatemala –CRECIG-, que se encuentre vigente al
            momento
            de surgir el conflicto. El Arbitraje será administrado, por la Comisión de Resolución de Conflictos de la
            Cámara de Industria de Guatemala –CRECIG-, en la ciudad de Guatemala, por medio de un tribunal compuesto de
            (3) Árbitros, nombrados de conformidad con el Reglamento antes relacionado, y el idioma del arbitraje será
            el
            español. El laudo deberá ser cumplido de buena fe y sin demora alguna, por las Partes.</p>

        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="very == false">
      <ion-col>
        <a (click)="closeModal(false)" class="not-accept-btn">No acepto</a>
        <ion-button color="primary" (click)="closeModal(true)" fill="outline">Acepto los términos</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="very == true">
      <ion-col>
        <ion-button color="primary" (click)="closeModal(false)" fill="outline">Acepto los términos</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>