ion-grid {
    max-width: 300;
}

.create-goal {
    margin: 20px;
}

.mimento-btn {
    width: 250px;
}
ion-button {
    border: 4px;
}

ion-textarea {
    height: 160px;
}

.sc-ion-textarea-md-h {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
    padding: 0px;
    background: var(--ion-color-white);
    height: 160px;
}
