ion-grid {
    margin-top: 10%;
}
header {
    margin-bottom: 20px;
}

.mimento-btn {
    width: 250px;
}

.not-accept-btn {
    text-decoration: underline;
    margin-right: 20px;
}

.datetime {
    display: flex;
    position: relative;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 0 !important;
    background: var(--background);
    color: var(--color);
    font-family: var(--ion-font-family, inherit);
    z-index: 2;
    flex-wrap: nowrap;
    flex-direction: column;
    ion-datetime {
        min-width: 250px;
        border: solid 1px var(--ion-color-medium-tint);
        border-radius: 4px;
        height: 50px;
        max-width: 250px;
        color: var(--ion-color-dark-shade);
        margin: 0 auto 20px auto;
    }
}
ion-textarea {
    background: transparent;
    border: solid 1px var(--ion-color-medium-tint);
    border-radius: 4px;
    height: auto;
    max-width: 250px;
    color: var(--ion-color-dark-shade);
    margin: 0 auto 20px auto;
    padding: 10px 20px 20px 20px;
    --padding-start: 10px;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}
ion-content,
ion-toolbar {
    --background: #ffffff;
    text-align: center;
}
.add-payment-form {
    padding-left: 1rem;
    padding-right: 1rem;
}
.stars {
    font-size: 1.5rem;
    color: var(--ion-color-dark-shade);
    margin-top: 1rem;
    ion-icon {
        padding-left: 5px;
        padding-right: 5px;
    }
}

ion-label {
    margin-top: 5px;
    margin-bottom: 5px;
}

.input-select {
    margin-bottom: 1rem;
    margin-top: 1rem;
    ion-select {
        width: 100%;
        --width: 100%;
        max-width: 100%;
        border: solid 1px var(--ion-color-medium-tint);
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 4px;
    }
}
.star-label {
    font-size: 1.4rem;
    color: var(--ion-color-dark-shade);
}

.calificacion {
    line-height: 0.7;
    h5 {
        margin-top: 0;
        margin-bottom: 0;
    }
}
