<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>        
          <h3>Trastorno de somatizacion</h3>
          <p>(Dolores físicos del cuerpo sin causa médica diagnosticada )</p>        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>        
        <ion-button color="primary" fill="outline">Fatiga cronica</ion-button>
        <br>
        <ion-button color="primary" fill="outline">Sindrome del dolor</ion-button>
      </ion-col>      
    </ion-row>
  </ion-grid>
</ion-content>
