<ion-content>
  <ng-template [ngIf]="loaded">
    <ion-slides [options]="slideOpts" class="h100 " pager="true">
      <ion-slide class="slide-1">
        <ion-grid class="ion-align-items-center">
          <ion-row class="w100">
            <ion-col>
              <div class="slide-header">
                <div class="logo">
                  <img src="assets/mimento-logo-horizontal.svg" alt="Logo App mimento">
                </div>
                <ion-button fill="clear" class="btn-skip-intro" (click)="cancel()">{{ 'ONBOARDING.Href2' | translate }}
                </ion-button>
              </div>
            </ion-col>
          </ion-row>


          <ion-row class="ion-align-self-center">
            <ion-col size="12">
              <div class="onboarding-img">
                <img src="assets/imgs/onboarding/tutorial1.svg" alt="Figura de personas en crecimiento personal">
              </div>
            </ion-col>
            <ion-col size="12">
              <div class="onboarding-text">
                <h3>{{ 'ONBOARDING.Title1' | translate }}</h3>
                <p>{{ 'ONBOARDING.P1' | translate }}</p>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>

          </ion-row>

        </ion-grid>
      </ion-slide>

      <ion-slide class="slide-2">
        <ion-grid class="ion-align-items-center">
          <ion-row class="w100">
            <ion-col>
              <div class="slide-header">
                <div class="logo">
                  <img src="assets/mimento-logo-horizontal.svg" alt="Logo App mimento">
                </div>
                <ion-button fill="clear" class="btn-skip-intro" (click)="cancel()">
                  {{ 'ONBOARDING.Href2' | translate }}
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-self-center">
            <ion-col size="12">
              <div class="onboarding-img">
                <img src="assets/imgs/onboarding/tutorial2.svg" alt="Figura de personas en crecimiento personal">
              </div>
            </ion-col>
            <ion-col size="12">
              <div class="onboarding-text">
                <h3>{{ 'ONBOARDING.Title2' | translate }}</h3>
                <p>{{ 'ONBOARDING.P2' | translate }}</p>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
          </ion-row>
        </ion-grid>
      </ion-slide>

      <ion-slide class="slide-3">
        <ion-grid class="ion-align-items-center">
          <ion-row class="w100">
            <ion-col>
              <div class="slide-header">
                <div class="logo">
                  <img src="assets/mimento-logo-horizontal.svg" alt="Logo App mimento">
                </div>
                <ion-button fill="clear" class="btn-skip-intro" (click)="cancel()">
                  {{ 'ONBOARDING.Href2' | translate }}
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-self-center">
            <ion-col size="12">
              <div class="onboarding-img">
                <img src="assets/imgs/onboarding/tutorial2.2.svg" alt="Figura de personas en crecimiento personal">
              </div>
            </ion-col>
            <ion-col size="12">
              <div class="onboarding-text">
                <h3>{{ 'ONBOARDING.Title3' | translate }}</h3>
                <p>{{ 'ONBOARDING.P3' | translate }}</p>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
          </ion-row>
        </ion-grid>
      </ion-slide>

      <ion-slide class="slide-4">
        <ion-grid class="ion-align-items-center">
          <ion-row class="w100">
            <ion-col>
              <div class="slide-header">
                <div class="logo">
                  <img src="assets/mimento-logo-horizontal.svg" alt="Logo App mimento">
                </div>
                <ion-button fill="clear" class="btn-skip-intro" (click)="cancel()">
                  {{ 'ONBOARDING.Href2' | translate }}
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-self-center">
            <ion-col size="12">
              <div class="onboarding-img">
                <img src="assets/imgs/onboarding/tutorial3.svg" alt="Figura de personas en crecimiento personal">
              </div>
            </ion-col>
            <ion-col size="12">
              <div class="onboarding-text">
                <h3>{{ 'ONBOARDING.Title4' | translate }}</h3>
                <p>{{ 'ONBOARDING.P4' | translate }}</p>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
          </ion-row>
        </ion-grid>
      </ion-slide>

      <ion-slide class="slide-5">
        <ion-grid class="ion-align-items-center">
          <ion-row class="w100">
            <ion-col>
              <div class="slide-header">
                <div class="logo">
                  <img src="assets/mimento-logo-horizontal.svg" alt="Logo App mimento">
                </div>
                <ion-button fill="clear" class="btn-skip-intro" (click)="cancel()">
                  {{ 'ONBOARDING.Href2' | translate }}
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-self-center">
            <ion-col size="12">
              <div class="onboarding-img">
                <img src="assets/imgs/onboarding/tutorial4.svg" alt="Figura de personas en crecimiento personal">
              </div>
            </ion-col>
            <ion-col size="12">
              <div class="onboarding-text">
                <h3>{{ 'ONBOARDING.Title5' | translate }}</h3>
                <p>{{ 'ONBOARDING.P5' | translate }}</p>
              </div>
              <ion-button color="primary" fill="outline" class="btn-goto-signup" (click)="cancel()">
                {{ 'ONBOARDING.Butto2' | translate }}</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
          </ion-row>
        </ion-grid>
      </ion-slide>

    </ion-slides>
  </ng-template>
</ion-content>