<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      <div class="logo">
        <img src="assets/mimento-logo-horizontal.svg" alt="Logo App mimento">
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row>
      <div class="terms">
        <div>
          <p style="text-align: center;">MIMENTO Políticas de Privacidad:</p>
          <p>SIMCHA, SOCIEDAD ANÓNIMA (&ldquo;LA OPERADORA&rdquo;) es propietaria y administradora del sitio web
            www.mimentoapp.com y la aplicación MIMENTO (en adelante &ldquo;la plataforma&rdquo; o &ldquo;el
            Sitio&rdquo;),
            por medio de la cual facilita el acceso a servicios de acompañamiento terapéutico y emocional a distancia
            (&ldquo;los Servicios&rdquo;), que son prestados por psicólogos y psiquiatras (&ldquo;los
            Profesionales&rdquo;),
            a los usuarios que se suscriban de manera voluntaria a la plataforma (&ldquo;el Usuario&rdquo; o
            &ldquo;Usuarios&rdquo;), conforme a los términos y condiciones de uso de la aplicación (en adelante
            &ldquo;Términos de Uso&rdquo;) y demás políticas publicadas en el Sitio.</p>
          <p>Esta Política de Privacidad describe las prácticas de LA OPERADORA en relación con la información que
            recopila a través de la plataforma MIMENTO y los servicios que se prestan a través de ella (en adelante la
            &ldquo;Política de Privacidad&rdquo;).</p>
          <p>Al crear una cuenta y solicitar los Servicios a través de la plataforma, el Usuario acepta que
            recopilemos,
            usemos, divulguemos y almacenemos la información como se describe en esta Política de Privacidad.</p>
          <p><strong>Definiciones importantes:</strong></p>
          <p>El término &ldquo;Información Personal&rdquo; en este contexto se refiere a información que es
            directamente
            identificable con el Usuario como su información de contacto (como su nombre, información de contacto,
            correo
            electrónico o teléfono), expediente, notas de los Profesionales y cualquier otra información que pueda
            relacionarse con ésta y se genere con relación a los Servicios. El término "Cookies", se refiere a las
            pequeñas piezas de información que un sitio envía a su navegador mientras está viendo un sitio web.</p>
          <p><strong>La información que recolectamos incluye:</strong></p>
          <ul>
            <li>
              <p>Nombre completo</p>
            </li>
            <li>
              <p>Apodo, nombre de usuario, contraseña</p>
            </li>
            <li>
              <p>Dirección de correo electrónico</p>
            </li>
            <li>
              <p>Género (hombre, mujer, cualquier otro)</p>
            </li>
            <li>
              <p>Fecha de nacimiento</p>
            </li>
            <li>
              <p>Información de contacto de emergencia</p>
            </li>
            <li>
              <p>Datos de uso de la Aplicación</p>
            </li>
            <li>
              <p>Mensajes y grabaciones de su sesión con el Profesional con el que se comunique por el App.</p>
            </li>
            <li>
              <p>Citas programadas con el médico.</p>
            </li>
            <li>
              <p>Datos del dispositivo y del sistema: tipo de teléfono, sistema operativo y red.</p>
            </li>
            <li>
              <p>Otra información descrita en esta Política de Privacidad.</p>
            </li>
            <li>
              <p>Contactos</p>
            </li>
            <li>
              <p>Información de cobros y facturación.</p>
            </li>
          </ul>
          <p>Todos estos datos pueden ser solicitados al momento del registro del Usuario en la plataforma o conforme el
            Usuario vaya accediendo a los servicios y funciones de la plataforma.</p>
        </div>
        <div>
          <p>También podemos obtener información recopilada automáticamente a través del acceso a la plataforma en
            línea.
            Se pueden utilizar tecnologías comunes cookies, tokens, etiquetas, balizas, scripts y registros del
            servidor
            web,
            así como funciones que puedan recopilar datos desde un dispositivo móvil. La información recopilada puede
            incluir todo tipo de datos.</p>
          <p>Utilizamos esta información únicamente con el propósito de brindarle acceso a la plataforma y que pueda
            hacer
            uso de los Servicios.</p>
          <p>Puede limitar la información que nos proporciona; sin embargo, eso puede limitar su capacidad para acceder
            o
            usar ciertas funciones de la plataforma o para solicitar algún servicio en específico.</p>
          <p><strong>&iquest;Cómo se usa la información que usted nos proporciona?</strong></p>
          <p>Se puede usar la información que el Usuario provea para varios motivos, estrictamente relacionados con los
            Servicios y la plataforma, tales como:</p>
          <ul>
            <li>
              <p>Para la prestación de los Servicios por el Profesional.</p>
            </li>
            <li>
              <p>Para responder a un correo electrónico o una solicitud particular del Usuario.</p>
            </li>
            <li>
              <p>Para comunicarnos con el Usuario.</p>
            </li>
            <li>
              <p>Para proporcionarle contenido a través de los Servicios.</p>
            </li>
            <li>
              <p>Administrar encuestas y promociones.</p>
            </li>
            <li>
              <p>Personalizar su experiencia en la plataforma.</p>
            </li>
            <li>
              <p>Para realizar análisis y mejorar nuestros productos, servicios en línea y publicidad.</p>
            </li>
            <li>
              <p>Para proteger la salud, seguridad o bienestar de alguien.</p>
            </li>
            <li>
              <p>Para proteger nuestros derechos, los derechos de los usuarios o tomar las medidas legales</p>
              <p>apropiadas, como hacer cumplir nuestros Términos.</p>
            </li>
            <li>
              <p>Para mantener un registro de nuestras transacciones y comunicaciones.</p>
            </li>
            <li>
              <p>La información que el Usuario nos proporcione la utilizaremos según lo indicado</p>
              <p>anteriormente y conforme a los Términos de Uso.</p>
            </li>
            <li>
              <p>Para cualquier propósito que el Usuario nos autorice.</p>
            </li>
            <li>
              <p>Podemos usar la información para contactarlo o comunicarnos con sus contactos de emergencia, por medio
                de
                cualquier dato que nos haya brindado.</p>
            </li>
          </ul>
          <p><strong>&iquest;Cómo compartimos la información que recolectamos?</strong></p>
          <ul>
            <li>
              <p>Bajo ninguna circunstancia la información del Usuario será objeto de comercialización.</p>
            </li>
            <li>
              <p>Solo compartiremos información con terceros si es permitido por la ley o lo autoriza el</p>
              <p>Usuario con su consentimiento.</p>
            </li>
            <li>
              <p>Podemos compartir información si toda o parte de LA OPERADORA se vende, se fusiona, se</p>
              <p>disuelve, adquiere u ocurre una transacción similar.</p>
            </li>
            <li>
              <p>Podemos compartir su información si es requerida por algún órgano jurisdiccional o por</p>
              <p>cualquier mandato de ley o autoridad gubernativa.</p>
            </li>
            <li>
              <p>Podemos compartir información con cualquier persona dentro de LA OPERADORA, con los</p>
              <p>Profesionales o con terceros, exclusivamente con relación al funcionamiento de la</p>
              <p>plataforma y con relación a la prestación de los Servicios por los Profesionales.</p>
            </li>
            <li>
              <p>Para cualquier otro propósito revelado por nosotros al momento que nos proporcione la</p>
              <p>información.</p>
            </li>
          </ul>
          <strong>Publicación de notas o cualquier Tipo de Información en áreas de colaboración:</strong>
        </div>
        <div>
          <p>La plataforma puede tener áreas de colaboración, que incluyen entre otros: blogs, anuncios, etc. Si usted
            decide participar publicando cualquier información debe saber que esta llegará a todos los usuarios, y que
            ellos
            tendrán la posibilidad de compartirla. Por lo que, su nombre y apodo serán expuestos al público en
            general.
          </p>
          <p><strong>&iquest;Cómo manejar su información?</strong></p>
          <p>La plataforma puede permitir al Usuario ver su perfil y acceder a su información personal, así como para
            solicitar cambios o actualizaciones de dicha información.</p>
          <p><strong>&iquest;Cómo protegemos la Información?</strong></p>
          <p>Hay medidas de seguridad administrativas y técnicas diseñadas para proteger la información que usted
            proporciona.</p>
          <p>Ningún sistema de seguridad es impenetrable y no podemos garantizar la seguridad de los Servicios al 100%,
            ni
            podemos garantizar la seguridad de la información que nos transmite a través de internet, incluido su uso
            del
            correo electrónico. No nos hacemos responsables de los actos ilegales de terceros, como los piratas
            informáticos.</p>
          <p>Es su responsabilidad guardar en un lugar seguro los dispositivos que usa para acceder a la plataforma,
            ejemplo:
            celular, tabletas, computadoras, etc., y contar con medidas de seguridad en esos dispositivos. Si esos
            dispositivos caen en manos de cualquier otra persona, por cualquier motivo, es posible que otros puedan
            acceder a
            su cuenta y a su información personal utilizando esos dispositivos. Si inicia sesión en otro dispositivo
            que
            no
            sea el suyo, debe cerrar la sesión desconectarse de la plataforma. Lo más importante es que se asegure de
            en
            efecto haber cerrado sesión.</p>
          <p>Usted acepta que no somos responsables de ningún daño que pueda resultar derivado que alguien acceda a su
            cuenta o información personal en un dispositivo perdido, robado o fuera de lugar o en una computadora o
            quiosco
            público donde no tome las medidas necesarias para cerrar sesión de su cuenta antes de finalizar una
            sesión
            en
            dicha computadora pública o quiosco.</p>
          <p>Le anunciamos o nos comunicamos con usted a través de correo o notificaciones, usted puede elegir
            desactivar
            dichas notificaciones; sin embargo, si lo hace debe de estar consiente que se puede perder información
            relevante.
          </p>
          <p>Retenemos información durante el tiempo que sea necesario para el propósito para el cual se recopila, sin
            embargo, se puede retener durante un plazo mayor si fuese necesario.</p>
          <p>La información del Usuario que pase a ser parte de un archivo o expediente del Usuario será confidencial
            y
            únicamente tendrán acceso a ella LA OPERADORA para fines de administración de la información y la
            plataforma;
            y, el Profesional que preste los Servicios. Esta información tendrá el tratamiento descrito en los
            Términos
            de
            Uso y podrá ser eliminada por solicitud del Usuario.</p>
          <p><strong>Cambios a la Política de Privacidad del sitio:</strong></p>
          <p>Podemos cambiar la Política de Privacidad del Sitio de vez en cuando en el futuro. Publicaremos cualquier
            versión revisada de la Política de Privacidad del Sitio en esta página. El uso continuo de nuestros
            servicios
            después de la notificación de dichos cambios indicará su reconocimiento de dichos cambios y su acuerdo de
            estar
            sujeto a los términos y condiciones de dichos cambios. Al usar el Sitio, usted acepta que recopilemos,
            usemos
            y
            eliminemos la Información personal y otros datos tal como se describe en esta Política de Privacidad del
            sitio,
            tal como existe ahora y se modifica de vez en cuando.</p>
        </div>
        <div>
          <p>Si tiene preguntas o comentarios sobre nuestras prácticas de privacidad, o si desea informar una
            violación,
            contáctenos enviándonos un correo electrónico a: <a
              href="mailto:info@mimentoapp.com">info@mimentoapp.com</a>
          </p>
        </div>
      </div>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" (click)="closeModal(false)" fill="outline">Acepto los términos</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>