.logo{
    margin-left: -15%;
}
.exercise-card{
    background-image: url(/assets/imgs/mimento-card-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom right;

    .exercise-name{
        text-align: left;
    }
}