<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      <div class="logo">
        <img src="assets/mimento-logo-horizontal.svg" alt="Logo App mimento">
      </div>
    </ion-title>
    <ion-button fill='clear' slot="end" routerLink="/profile">
      <ion-icon name="person-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="welcome-user">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>{{ 'HOME.Hello' | translate }} {{user_datos?.nombre}}</h1>
          <h2>{{ 'HOME.Question' | translate }}</h2>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="emotion-tracker">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <emotion-tracker ></emotion-tracker>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col>
          <div class="submit-emotion">
            <a (click)="setMood()">{{ 'HOME.Link' | translate }}</a>
          </div>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </div>

  <div class="option-menu">
    <h3>{{ 'HOME.Title' | translate }}</h3>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let i of cards" size-md="6" size-sm="6" size-xs="12">
          <ion-card (click)="validateRouter(i.id)">
            <!-- <ion-card [routerLink]="i.id"> -->
            <ion-card-content>
              <ion-icon *ngIf="i.image != '/assets/imgs/covid19-icon.svg'" [name]="i.image" color="primary"></ion-icon>
              <img *ngIf="i.image == '/assets/imgs/covid19-icon.svg'" [src]="i.image" alt="">
              <h3>{{i.texto[1]}} <br> <span>{{i.descripcion[1]}}</span></h3>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>