<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button fill='clear' slot="start">        
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>
      <div class="logo">
        <img src="assets/mimento-logo-horizontal.svg" alt="Logo App mimento">  
      </div>   
    </ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>   
        <header>
          <ion-icon name="happy-outline"></ion-icon>
          <p>Respuesta, 12 de marzo 2020</p>     
        </header>  
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="response-cotent">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel consequatur numquam tempore dolores, laborum voluptatum unde veniam voluptate molestias, culpa, ipsam veritatis? Harum quia culpa odit consequatur est beatae delectus quod! Temporibus sed nihil, magni eius in, itaque ducimus, officiis esse velit delectus harum aperiam soluta quis repellat perspiciatis. Facilis!</p>
          <p>Dignissimos labore atque eveniet officia dolorum eaque dolor. Eius recusandae quasi debitis quos laborum! Illum non error officia, alias laudantium et dolorum praesentium pariatur! Tempore quaerat voluptas iure, voluptatum autem, reprehenderit commodi veritatis facere ad reiciendis quo repudiandae blanditiis eveniet culpa accusamus beatae amet ea tempora id. Quae, ullam dolor?</p>
          <p>Libero voluptatum molestiae repudiandae tempora officia ipsa necessitatibus culpa omnis vitae, consectetur ipsum suscipit explicabo natus eveniet atque possimus recusandae ipsam ea. Ex saepe non magni dolore. Delectus dolorum, fugit aliquid voluptate dignissimos excepturi consequuntur exercitationem eaque consectetur. Repellendus, incidunt soluta rerum nesciunt ut dignissimos illum fugiat aspernatur beatae ea.</p>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
