header{
    p{
        color: var(--ion-color-primary);
    }
}

.tamanio{
    min-height: 200px;
}

.card-emotion{
    margin-bottom: 15px;
    ion-card-content{        
        display: flex;        
        align-items: center;
        position: relative;
        align-items: flex-end;

        .emotion-icon{
            margin-right: 10px;
            ion-icon{
                font-size: 3rem;
            }
        }
        .emotion-date{
            p{
                font-size: 1.2rem;
            }
            small {
                font-size: 95%;
            }
        }

    }
}
