<ion-header [translucent]="true">
  <ion-toolbar class="exercise-toolbar">
    <ion-title>
      <div class="logo">
        <img src="assets/mimento-logo-blano-horizontal.svg" alt="Logo App mimento">  
      </div>   
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="exercise-wrapper">

    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="exercise-content">

            <div class="title">
              <h3>Resumen</h3>
            </div>
            <div class="description">
              <p>Nombre del ejercicio realizado</p>
            </div>
            <div class="divider"></div>

            <div class="exercise-summary">
                <div class="summary-item">
                  <h4>
                    Pregunta realizada:
                  </h4>
                  <p>(respeusta seleccionada o ingresada por el usuario)</p>
                </div>         
                <div class="summary-item">
                  <h4>
                    Cuando sucedio esto:
                  </h4>
                  <p>Reciente</p>
                </div>
                <div class="summary-item">
                  <h4>
                    Tú, automáticamente pensaste esto:
                  </h4>
                  <p>Incomodo por la situación</p>
                </div>
            </div>

            <div class="divider"></div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <p>Excelente Alberto, sigue así. <br>
            Realiza otros ejercicios.</p>
          <ion-button class="new-exercise-btn">Otro ejercicio</ion-button>          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">          
          <a href="#">Ver historial</a>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </div>
</ion-content>


